@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    @apply rounded-xl overflow-hidden bg-transparent h-[370px] w-[230px] shrink-0  block py-3;
}
.cardimg{
    @apply h-[100%] w-full bg-cover rounded-xl overflow-hidden;
}
.cardscol{
    @apply flex flex-col px-3
}
.no-scrollbar::-webkit-scrollbar{
    display: none;
}
.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.textchanger{
    animation: moveUpAndDisappear 5000ms ease forwards;
}
@keyframes moveUpAndDisappear{
    0% {
        transform: translateY(0);
        opacity: 0;
      }
      100% {
        transform: translateY(-10px); /* Move the text 40px up */
        opacity: 1; /* Make the text transparent */
      }
}